.contact-card{
    width: 400px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 4px 4px 4px black;
}

.contact-name{
    font-size: 20px;
    font-style: italic;
}

.m-2{
    margin: 2px;
}